.container {
  padding: 0 2rem;
  width: 100%;
  text-align: center;
}

.sideContainer {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
